footer{
    background:#570A57;

    .socials{
        width: fit-content;
        padding: 3rem  10rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap:2rem;
       
        a{
            color:#FFF;
            background-color: #2E0249;
            padding: 1.2rem;
            border-radius: 50%;
          
            &:hover{
                color:#CDC2AE;
                background-color: #F806CC;
            }
        }
        a i{
            font-size: 3rem;
           
        }
    }

    .container__footer{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        gap: 3rem;
        padding-bottom: 5rem;
        color: #F3C5C5;
        margin-top: 3rem;
        article h4{
            text-align: center;
            font-weight: 700;
            color: #9A86A4;
            font-size: 1.3rem;
        }
        ul{
            display:grid;
            place-items: center;
        & li{
            padding-top:2rem;
            & a{
                color:#F3C5C5;
                font-size:0.8rem;
                text-transform: uppercase;

                &:hover{
                    overflow: hidden;
                    letter-spacing: 3px;
                    color:#B8FFF9;
                    border-bottom:  2px solid #B8FFF9;
                    transition: all .3s ease-in;
                }
            }
        }
    }
    }

}