.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
   }
   .nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo a{
        font-size: 1.5rem;
        color: #8E3200;
        font-weight: 700;
    }
    &-list{
        display:flex;
        flex-direction: row;
        gap: 2rem;


        a{
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            color: #F3C5C5;
            letter-spacing: 1px;

            &:hover{
                color: #191919;
                border-bottom: 2px solid #F3C5C5;
                transition: all 0.5s ease;
            }
        }
    }
   }