@import 'footer';
@import 'sigin';
@import 'viewlist';
@import 'menu';
@import 'card';
@import './aside';




*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 0;
   }
body{
    overflow-x: hidden;
    background-color: #FEFBF6;
    font-family: 'Ubuntu', sans-serif;

}
header{
    // background-color: #595B64;
    background: #8AC4D0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    z-index: 9999;
    box-shadow: 1rem 0.9rem 1rem 0.5rem  rgba(0,0,0,0.4) rgba(0, 0, 0, 0.4);
}
.container__hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block:1rem;
    gap: 2rem;

    img{
        width: 100%;
        object-fit: cover;
    }
    p{
        line-height: 1.5;
        text-align: center;
        margin: 3rem auto;
        width: 80%;
        font-size: 20px;

    }
    .p2{
        @extend p;
        padding: 0.5rem;
        text-align: right;
        position: relative;
        background-color: #fff;
        right: -15rem;
        top: 5rem;
        margin-bottom: 5rem;
        border-style:ridge;
        border-top: 20px solid #42eadc;
        border-right: 20px solid #42eadc;
    }
    aside{
        width: 20rem;
       height: 30rem;
       background:#2b2d42;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      
      
      }
}
